.btn{
  color: white;
}
.fade {
  animation: fading 0.8s ease-in;
  transition: ease-in 0.8s;
}
@keyframes fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rolling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}